.accordion {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  width: 100%;
  margin-left: auto;

  @include vp-1024 {
    padding: 0 38px 0 80px;
  }

  @include vp-1023 {
    margin: 30px 0 0;
    padding-right: 13px;
    justify-content: space-between;
  }

  @include vp-767 {
    margin: 0;
    padding: 0;
    gap: 0;
    justify-content: center;
    flex-wrap: wrap;
  }

  & & {
    width: 90%;
    margin: 0 auto;
  }

  &__element {
    min-width: fit-content;

    &--wrap {
      width: 100%;
      max-width: 470px;

      @include vp-767 {
        max-width: none;
      }
    }
  }

  &__button {
    @include rc-r-s15-h16;
    letter-spacing: 0.05em;
    color: $white-base;
    display: block;
    text-align: left;
    position: relative;
    background: none;
    width: 100%;
    padding: 7px 0;
    margin-bottom: 15px;

    text-transform: uppercase;

    cursor: default;

    @include vp-767 {
      cursor: pointer;
      width: 100%;
      padding: 12px 15px 11px;
      margin-bottom: 0;
    }

    @include hover-focus {
      opacity: 1;
    }
  }

  &__content {
    &--wrap {
      display: grid;
      grid-template-columns: repeat(auto-fill, 220px);
      gap: 0 30px;

      @include vp-767 {
        display: block;
      }
    }
  }

  &__wrapper {
    @include vp-767 {
      padding: 5px 15px 0;
    }

    & > li {
      min-width: 220px;
      margin-bottom: 8px;
    }

    & > li > a {
      @include pt-r-s16-h22;
      color: $white-base-opac;
      display: block;
      width: fit-content;

      @include vp-767 {
        @include pt-r-s14-h19;
      }
    }

    &--tel {
      & > li {
        margin-bottom: 4px;
      }

      & > li > a {
        @include pt-r-s16-h25;
      }

      @include vp-767 {
        @include pt-r-s14-h25;
        margin-top: 16px;

        & > li {
          margin-bottom: 11px;
        }
      }
    }
  }

  @include vp-767 {
    &__element:first-child {
      border-top: 1px solid $white-fir-opac;
    }

    &__element {
      width: 100%;
      padding: 10px;
      border-bottom: 1px solid $white-fir-opac;
    }

    &__element > &__button::before,
    &__element > &__button::after {
      position: absolute;
      right: 15px;
      content: "";
      background-color: $white-fir;
    }

    &__element > &__button::before {
      position: absolute;
      right: 15px;
      content: "";
      margin: -2px 8px;
      height: 15px;
      width: 1px;
      background-color: $white-fir;
    }

    &__element > &__button::after {
      position: absolute;
      right: 15px;
      content: "";
      margin: 5px 1px;
      height: 1px;
      width: 15px;
      background-color: $white-fir;
    }

    &__element.is-active {
      padding-bottom: 6px;
    }

    &__element.is-active > &__button::before {
      display: none;
    }
  }
}
