.company {
  margin-bottom: 105px;

  @include vp-1023 {
    margin-bottom: 80px;
  }
}

.company__container {
  display: flex;
  gap: 100px;

  @include vp-1023 {
    gap: 30px;
  }
}

.company__title {
  @include rc-r-s36-h51;
  margin: 0 0 12px;

  @include vp-767 {
    @include rc-r-s28-h39;
  }
}

.company__button {
  @include rc-b-s14-h16;
  letter-spacing: 0.05em;
  margin: 16px 0 0;

  @include vp-1023 {
    margin: 0;
  }

  @include vp-767 {
    margin-top: -3px;
  }
}

.company__wrapper p {
  @include pt-r-s16-h22;
  margin: 0 0 22px;

  @include vp-1023 {
    margin-bottom: 17px;
  }

  @include vp-767 {
    @include pt-r-s14-h19;
    margin-bottom: 18px;
  }
}

.company__wrapper .mobile-hide {
  @include vp-767 {
    display: none;
  }
}

.company__content > p {
  margin-top: 0;

  &:first-child {
    display: none;

    @include vp-767 {
      display: block;
    }
  }
}

.company__year {
  margin: 10px 3px 0 32px;

  @include vp-1023 {
    margin: 14px 2px 0 28px;
  }

  @include vp-767 {
    display: none;
  }
}

.company__year img {
  clip-path: url("#svgPath");
  min-width: 115px;
}

.company__year svg {
  display: block;
}

.company__year text {
  @include rc-b-s156-h220;
  transform: rotate(-90deg);
}
