.info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px 27px;
  padding: 0 16px 6px 28px;

  @include vp-1023 {
    align-self: flex-start;
    gap: 20px;
    padding: 0;
  }

  li {
    @include vp-1024 {
      min-width: fit-content;
      width: 225px;
    }
  }

  a {
    display: flex;
    padding: 10px 0;
    width: fit-content;
    gap: 15px;

    @include vp-1023 {
      padding: 10px;
    }
  }

  svg {
    display: block;
  }

  span {
    @include pt-r-s16-h18;

    @include vp-1023 {
      display: none;
    }
  }
}
