/* COLORS */

$white-base: #ffffff;
$white-base-opac: rgba(255, 255, 255, 0.7);
$white-fir: #f8fdff;
$white-fir-opac: rgba(248, 253, 255, 0.7);
$white-sec: #f2f5f6;
$light-grey: #ebebeb;

$black: #041827;
$black-opac: rgba(4, 20, 39, 0.15);

$azure: #00b2ff;
$blue: #026593;
$dark-blue: #041427;
